.App {
  text-align: center;
  
}

.flex-grid {
  display: flex;

   
}
.flex-grid-row {
  display: flex;
 flex-direction:column;
 width:33vw;
   
}
.col {
  width:33%;
}

.col2 {
  width:66%;
}

.col3 {
  width:100%;
}

.gutter{
  border-style: solid;
  border-width: 10px;
  border-color: white;

}
